
div {
  text-align: center;
}

hr {
  width: 98%;

  margin-top: -14px;
  border: 1px solid lightgray;
}

ul {
  margin-top: 50px;
  list-style: none;

  li {
    display: inline;
    padding: 20px 10px 0px 10px;

    a.city {
      padding-bottom: 2px;
      text-decoration: none;
      border-bottom: 1px solid lightgray;
    }

    a.selectedCity {
      padding-bottom: 2px;
      text-decoration: none;
      border-bottom: 2px solid black;
    }

    li:first-child {
      padding: 20px 10px 0px 0px;
    }

    li:last-child {
      padding: 20px 0px 0px 10px;
    }
  }
}

